<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/styles.css">
    <title>Home</title>
</head>
<body>
    <div class="menu-bar">
        <p class="heading">Secrets</p>
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/PostSecrets">PostSecrets</a></li>
            <li><a href="/secrets">Secrets</a></li>
            <li><a href="/logout">LogOut</a></li>
        </ul>
    </div>
    <div class="main">
        <img src="public/Cortex-key.webp" class="key"><br>
        <h1 class="text">Secrets</h1>
        <P class="text">Don't keep your secrets, Post them anonymously</P>
        <button type="submit" class="register home_btn"><a href="/register">Register</a></button>
        <button type="submit" class="login home_btn"><a href="/login">Login</a></button>
    </div>
</body>
</html>