<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/styles.css">
    <title>Secrets</title>
</head>
<body>
    <div class="menu-bar">
        <p class="heading">Secrets</p>
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/PostSecrets">PostSecrets</a></li>
            <li><a href="/secrets">Secrets</a></li>
            <li><a href="/logout">LogOut</a></li>
        </ul>
    </div>
    <form class="secrets" action="/submit" method="post">
        <h2>Secrets</h2>
        <p class="animation"></p>
        <input type="text" class="secret_text" name="SecretText" placeholder="What's your secret?" autocomplete="off" required>
         <input type="hidden" name="token" value="<%= token %>">
        <div style="color:red;font-size: 15px;" class="PSalert"> <%-alert %>  </div>
        <button class="logout"><a href="/logout">Logout</a></button>
        <button type="submit" class="submit">Submit</button>
    </form>
    <script src="animations.js" type="text/javascript"></script>
</body>
</html>
