<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/styles.css">
    <title>SecretsPage</title>
    <style>
        body{
            background-color: lightgrey;
        }
    </style>
</head>
<body>
    <h2 id="effect">You've Discovered Secrets!</h2>
    <% for(let i=0;i<SecretsList.length;i++){ %>
        <p class="secretsList"><%-SecretsList[i].Secret %></p>
    <% } %>
</body>
</html>